footer {
    
    background-color: #1a5b4f ;
    padding-inline: 0.5em;
    padding-block: 1em;
    
    nav {

        ul {
display: grid;
                grid-template-columns: repeat(3, 1fr);
                            flex-direction: row;
            justify-content: space-between;
                margin-block-start: 0;
    margin-block-end : 0;
    padding-inline-start: 0px;

            li {
                display: flex;
                list-style-type: none;               
                align-items: center;
                justify-content: center;
                
                a {
                    color: #fff;
                    font-family: Montserrat;
                    text-align: center;
                    font-weight: 500;
                    font-size: 14px;
                }
            }
        }
    }
}