header {
display: flex;
        align-items: center;
        justify-content: center;
        background-color: #1a5b4f;
        padding: 0.5em;
        .logo {
            height: 100px;
            width: 100px;
            border-radius: 50px;
        }
    }