.blocpage__home {
    
        background-image: url("../assets/convert_1.png");
        
        padding: 1em;
        display: flex;
        flex-direction: column;
        gap: 2em;

        

        h1 {
            font-family: Montserrat;
            text-align: center;
            font-size: 1.8em;
            font-weight: 800;
        }
    

    .pro {
        display: flex;
        background-color: #1a5b4f ;
        padding: 1em;
        border-radius: 20px;
        align-items: center;

        h2 {
            font-family: Montserrat;
            color: #fff;
            text-align: center;
        }
        h3 {
            font-family: Montserrat;
            color: #fff;
            text-align: center;
            font-size: 1em;
        }

        img {
            height: 18em;
        }
    }

    .client {
        display: flex;
        flex-direction: row-reverse;
        padding: 1em;
        align-items: center;

        h2 {
            font-family: Montserrat;
            color: #1a5b4f;
            text-align: center;
        }
        h3 {
            font-family: Montserrat;
            color: #1a5b4f;
            text-align: center;
            font-size: 1em;
        }

        img {
            height: 18em;
        }
    }

    .accord {
        display: flex;
        flex-direction: column;
background-color: #1a5b4f ;
        padding: 1em;
        border-radius: 20px;
                align-items: center;

        h2 {
            font-family: Montserrat;
            color: #fff;
            text-align: center;
            margin-bottom: 0;
        }
        h3 {
            font-family: Montserrat;
            color: #fff;
            text-align: center;
            font-size: 1em;
            margin-top: 08px;
        }

        div {

            display: flex;
            gap: 2em;

        img {
            height: 14em;
        }
    }
    }

    .telechargez {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;

        

        .screen {
            height: 15em;
        }

        aside {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

            h2 {
            font-family: Montserrat;
            color: #1a5b4f;
        }

        div {
            display: flex;
            gap: 1em;
            
            img {
                height: 1.6em;
                width: 6em;
            }
        }
        }
    }
    }